{% extends 'base.html.twig' %}

{% block title %}Medicament index{% endblock %}

{% block body %}
    <h1>Medicament index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Dosage</th>
                <th>Duration</th>
                <th>Frequency</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medicament in medicaments %}
            <tr>
                <td>{{ medicament.id }}</td>
                <td>{{ medicament.name }}</td>
                <td>{{ medicament.dosage }}</td>
                <td>{{ medicament.duration }}</td>
                <td>{{ medicament.frequency }}</td>
                <td>
                    <a href="{{ path('app_medicament_show', {'id': medicament.id}) }}">show</a>
                    <a href="{{ path('app_medicament_edit', {'id': medicament.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_medicament_new') }}">Create new</a>
{% endblock %}
