{% extends 'base.html.twig' %}

{% block title %}Medicament index{% endblock %}

{% block content %} 
    <h1>liste des medicaments:</h1>
   <div class="container mt-4">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Dosage</th>
                <th>Duration</th>
                <th>Frequency</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medicament in medicaments %}
            <tr>
                <td>{{ medicament.id }}</td>
                <td>{{ medicament.name }}</td>
                <td>{{ medicament.dosage }}</td>
                <td>{{ medicament.duration }}</td>
                <td>{{ medicament.frequency }}</td>
                <td>
                    <a href="{{ path('app_medicament_show', {'id': medicament.id}) }}" class="btn btn-info btn-sm">show</a>
                    <a href="{{ path('app_medicament_edit', {'id': medicament.id}) }}" class="btn btn-warning btn-sm">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_medicament_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
