{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.objet) }}
        {{ form_widget(form.objet, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.objet) }}
    </div>

    <div class="form-group">
        {{ form_label(form.commentaire) }}
        {{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.commentaire) }}
    </div>

    {{ form_row(form._token) }} 
    {{ form_rest(form) }}

    <button class="btn btn-primary">{{ button_label|default('Mettre à jour') }}</button>
{{ form_end(form) }}
