{% extends 'base.html.twig' %}

{% block title %}Ordonnance Index{% endblock %}

{% block content %} 
   <div class="container mt-4">
        <h1 class="mb-4">Liste des ordonnances</h1>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>patient</th>
                    <th>Date Prescription</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for ordonnance in ordonnances %}
                <tr>
                    <td>{{ ordonnance.id }}</td>
                    <td>{{ ordonnance.patient.name }}</td>
                    <td>{{ ordonnance.datePrescription ? ordonnance.datePrescription|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_ordonnance_show', {'id': ordonnance.id ,'template': template}) }}" class="btn btn-info btn-sm">Show</a>
                        <a href="{{ path('app_ordonnance_edit', {'id': ordonnance.id,'template': template}) }}" class="btn btn-warning btn-sm">Edit</a>


                        <form method="post" action="{{ path('app_ordonnance_delete', {'id': ordonnance.id}) }}" onsubmit="return confirm('confirmer votre action');" style="display:inline;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ordonnance.id) }}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

<div class="d-flex justify-content-center">
            {{ knp_pagination_render(ordonnances) }}
        </div>

        <div class="text-center mt-4">
            </a>
        </div>
    </div>
    
{% endblock %}
